# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\0001 VDAB\000000_ Alle gedeelde drive mappen opleiding\Java-20210224T074858Z-001\Java\Jenkins\cursisten\GoedeDoel\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
